/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

* {
  box-sizing: border-box;
}

html {
  background: #080808;
}

body {
  background: #111;
  color: #eee;
  margin: 0 auto;
  max-width: 80em;
  font-family: "Fira Sans", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

h1, h2, strong {
  color: #b2b2b2;
}

code, pre {
  background: #323437;
  color: #e4e4e4;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #80a0ff;
  padding: 1em;
}

a {
  color: #36c692;
}

a:hover { 
  color: #8cc85f;
  font-weight: bold;
}

blockquote, q {
  border-left: solid 4px #bbb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}
